.header {
  background-color: white;
  outline: 1px solid greenyellow;
  outline-offset: -1px;
}

.content {
  padding: 0 20px;
  background-color: white;
}

.warningBanner {
  max-width: 900px;
  margin: 10px auto;
}
