@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #f7f7f7;
}

#root {
  max-width: 1010px;
  min-width: 430px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
