.filmsList {
  margin-bottom: 20px;
  container-type: inline-size;
}

.errorBanner {
  margin: 10px;
}

.empty {
  margin: 10px 0;
}

.pagination {
  :global(.ant-pagination-item-active) {
    background-color: #1890ff;
    border-color: #1890ff;

    a {
      color: white;
    }
  }
}
